@page "/{UserId}"

@using Event2206.Data.Entities
@using Event2206.Data.Services
@inject UserService userService

<div style="width:80%; margin:20px auto">
    <Descriptions Title="Thông tin khách tham dự" Bordered Column="@column">
        <DescriptionsItem Title="Họ và tên">@user.FullName</DescriptionsItem>
        <DescriptionsItem Title="Địa chỉ">@user.Address</DescriptionsItem>
        <DescriptionsItem Title="Email">@user.Email</DescriptionsItem>
        <DescriptionsItem Title="Số điện thoại">@user.PhoneNumber</DescriptionsItem>
        <DescriptionsItem Title="Tên công ty">
            @user.CompanyName
        </DescriptionsItem>
        <DescriptionsItem Title="Ngày đăng ký">
            @user.Created
        </DescriptionsItem>
        <DescriptionsItem Title="Khách hàng từ New Ocean IS">
            @user.isNOISCustomer
        </DescriptionsItem>
    </Descriptions>
</div>
@code {
    [Parameter]
    public string UserId { get; set; }

    private User user = new User();

    private Dictionary<string, int> column = new Dictionary<string, int> {
            { "xxl", 3 },
            { "xl", 3},
            { "lg", 2},
            { "md", 2},
            { "sm", 1},
            { "xs", 1}
        };

    protected override async Task OnInitializedAsync()
    {
        if (UserId != null)
        {
            user = await userService.GetUserDetail(UserId);
        }
    }
}
